h1{
    color: pink;
    word-spacing: 25px;
    letter-spacing: 20px;
    font-size: 50px;
}
p{
    letter-spacing: 5px;
    margin: 0%;
}
h2{
    text-align: center;
    color: rgb(126, 151, 235);
    letter-spacing: 10px;
    word-spacing: 15px;
}
h3{
    color: rgb(127, 192, 152);
}
body{
    width: 80%;
    margin: 0 auto;
}
mark{
    background-color: rgb(255, 195, 85);
}
.bg-yellowpastel
{
    background-color: palegoldenrod;
}